#*.json
*.pyc
*.tar
models/
data/
debug/
wikidata_big/

experiments/legacy
experiments/qa_kg/legacy

experiments/qa_kg/results/**/tmp_answer_packs/
experiments/qa_kg/results/**/answer_packs/
experiments/qa_kg/results/**/judges_packs/
experiments/qa_kg/results/**/tmp_judges_packs/
experiments/qa_kg/results/**/metric_packs/
experiments/qa_kg/results/**/log/
experiments/qa_kg/results/**/aeval_cron.txt
experiments/qa_kg/**/qacron_log.txt
experiments/qa_kg/results/**/agen_cron.txt
experiments/qa_kg/results/**/llm_aeval_cron.txt

experiments/qa_kg/results/diaasq_legacy
experiments/legacy
experiments/qa_kg/legacy

experiments/
chroma_test_db/
ollama.log
*.log

create_local_db/
archives/
__pycache__/
pai_venv/
docs/_build
docs/build
docs/log
tmp/
tests/volumes
docs/build
