pysqlite3-binary==0.5.4
chromadb==0.5.3
aerospike==15.1.0
kuzu==0.7.0
pymongo==4.10.1
neo4j==5.26.0
dataclasses==0.6
tqdm==4.67.0
joblib==1.4.2
PyICU==2.14
pycld2==0.41
morfessor==2.0.6
polyglot==16.7.4
numpy==1.26.4
pandas==2.2.3
torch==2.4.1
torchaudio
torchmetrics
torchvision
transformers==4.40.0
sentence-transformers==3.1.1
gigachat==0.1.17
openai==1.54.5
pytest==8.3.3
